# Airbnb Analysis

In [7]:
#Magic plots after each cell
%matplotlib inline

#Dependencies
import pandas as pd
import numpy as np
import seaborn as sns
import geopandas as gpd
import matplotlib.pyplot as plt

In [8]:
#Read clean file and convert to CSV
data_file = pd.read_csv("Resources/CleanAirbnbData.csv")
abb_df = pd.DataFrame(data_file)
abb_df.head()

,ID,Name,Host ID,Host Name,Neighbourhood Group,Neighbourhood,Latitude,Longitude,Room Type,Price,Minimum Nights,Number of Reviews,Last Review,Reviews per Month,Calculated Host Listings Count,Availability
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129

In [9]:
#Create dictionary for most up to date population by data by borough (2018 estimates by nyc.gov)
pop_dict = {'Brooklyn': 2582830,
            'Bronx': 1432132,
            'Manhattan': 1628701,
            'Queens': 2278906,
            'Staten Island': 476179
           }

## Who is using Airbnb in NYC?

## How is Airbnb used in the different boroughs?

## How do the demographics for each borough affect their Airbnb use?

## What other external variables may be factors for Airbnb's usage in each area?